@font-face{
    font-family: cocomat;
    src: url(../cocomat.ultralight.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: cocomat;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.tri{
    padding: 150px 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 300px solid white;
    opacity: 77%;
    position: relative;

}
.tri-inner{
    padding: 0px 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border: 140px solid transparent;
    border-top: 0;
    border-bottom: 280px solid black;
    position: relative;
    top: -285px;
}

.enter{
    text-decoration: none;
}

p {
    top: 700px;
    width: 100%;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: center;
    font-size: 55px;
    right: 0%;
    position: relative;
    
}

p:hover{
    color: black;
    opacity: 75%;
}

.enter:hover ~ .tri{
    border-bottom: 300px solid red;
    opacity: 50%;
}

